body{
	margin: 0;
	font-family: 'Source Code Pro', Helvetica, 'Sans Serif';
}

header{
	margin: 0;
	position: fixed;
	width: 100%;
	height: 5em;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	color:rgb(25, 110, 61);
	background: rgba(125,125,125,.5); 
}

.flex-container{
	display: flex;
	-webkit-flex-flow; row wrap;
	justify-content: space-between;
}

.hoverEffect{
	visibility: hidden;
}

a:link{
	color:rgb(25, 110, 61);
	text-decoration: none;
}

a:visited{
	color:rgb(25, 110, 61);
	text-decoration: none;
}

a:hover {
	color:rgb(6, 148, 223);
}

a:hover .hoverEffect{
	color:rgb(6, 148, 223); /*blue*/
	text-decoration: none;
	visibility: visible;
}

a:active{
	color:rgb(25, 110, 61);
	text-decoration: none;
}

h1{
	margin: .5em 1em;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 2em;
}

h1 a:hover{
	color: rgb(25, 110, 61);
}

nav{
	margin: .5em 1em;
}

.menu{
	font-size: 1em;
	list-style: none;
}

.menu li{
	display: inline-block;
	margin: 0 .8em;
}

section{
	line-height: 2em;
}

.introduction, article{
	background-image: url("../images/graphy.png");
	background-repeat: repeat;
	padding: 10em 20em;
	font-size: 1em;
	line-height: 2em;
}


.form{
	font-size: 1.25em;
	background: rgba(39,174,96,.7);
	text-align: center;
	padding: 5em 10em;
	box-shadow:50px 0 50px rgba(39, 100, 96, .5);
}

.form ul li{
	display: block;
	margin: 2em auto;
}
.resume{
	padding: 10em 18em;
	background-image: url("../images/graphy.png");
	background-repeat: repeat;
	font-size: 1em;
}
.resume ul{
	list-style: none;
	visibility: visible;
}

.resume p{
	margin-left: 4em;
}

h2{
	color:rgb(25, 110, 61);
	margin-left: 20px;
	display: inline-block;
}

h3{
	color: rgb(6, 148, 223);
	font-weight: 400;
}

.title{
	font-weight: 600;
}

h4{
	font-style: italic;
	font-size: .85em;
	font-weight: 300;
}

article h2{
	text-align: center;
	padding-bottom: 2em;
}

pre{
	background-color: rgba(114,114,114, .2);
	font-family: courier, monospace;
    font-size: 1em;
    line-height: 2em; 
    white-space: pre-wrap;
    overflow: auto;
	border-left: 1em solid rgba(25, 110, 61, .8);
	border-top: .2em solid rgba(25, 110, 61, .8);
	border-right: .2em solid rgba(25, 110, 61, .8);
	border-bottom: .2em solid rgba(25, 110, 61, .8);
	padding: 0 1em;
}


footer{
	font-size: .85em;
	background: rgba(0,0,0,.5);
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
}

.social{
	list-style: none;
}

.social li{
	display: inline;
	margin: 0 .5em;
}

.hidden{
	display: none;
	background-color: white;
}
